/* 
-------------------------------------------------------------------
CSS for the style of teh work application section
-------------------------------------------------------------------
*/
@import url(Colors.css);
@import url(Text.css);

.applicationSection{
    display: grid;
    position: relative;
    grid-template-columns: 1fr;
    grid-template-rows: .2fr 2fr;
    width: 100%;
    height: 100%;
    border: none;
}


.applicationSection iframe{
   /* transform: scale(1.1); */

    width: 100%;
    height: 100%;
    border: none;
}