/* 
-------------------------------------------------------------------
CSS for the sites color palette
-------------------------------------------------------------------
*/

:root {
    /* section main background */
    --mainSectionBg: #415A77;
    --secondarySectionBg: #1B263B;

    --workShowcaseBg: #778DA9;
    --workShowcaseHoverBg: #8aa3c4;

    --workShowcaseDivBg: #1B263B;

    --workShowcaseDivShadow: #0f1520;

    --sectionShadows: #0D1B2A;
    --secondarySectionShadow: #0D1B2A;
    /* sections top bar  */
    --topBarBg: #34383d;
    --topBarTabConBg: #ADB5BD;

    --topBarTabBg: #6C757D;
    --topBarTabHoverBg: #99a5b1;

    --topBarTabShadow: #545b61;
    --topBarShadow: #15171a;

    /* section side bar  */
    --sideBarBg: #34383d;

    --sideBarTabBG: #34383d;

    --sideBarTabHoverBG: #ADB5BD;

    --sideBarToggleButtonBg: #34383d;

    --sideBarToggleHoverBg: #ADB5BD;
    --sideBarToggleShadowBg: #15171a;

    /* buttons */

    --focusWorkButtonBg: #2d3b4d;
    --focusWorkButtonHoverBg: #879ebd;
    --focusWorkShadow: #1c2733;

    /* scroll bar */
    --scrollBarThumb: #6C757D;
    --scrollBarTrack: #ADB5BD;

    /* text colors */
    --textColor: #F8F9FA;
    --textColor2: #ebf0f5;
    --textColor3: #b0b3b6;

    --textHoverColor: #badafa;
}