/* 
-----------------------------------------------------------
defines the sites color scheme
-----------------------------------------------------------
*/

:root {

    /* Backgrounds */
    --mainBg: #374962;

    --sideBarBG: #1c1c1c;
    --navTabBG: #2B394D;

    --workOverviewBg: #5C7DAC;

    --headerBg: #1c1c1c; 

    /* sidebar Nav Tabs */
    --navTabHover: #2B394d;
    --navTabActive: #2B394d;

    /* text colors */
    --textColor1: #F2F0F0;
    --textColor2: #C4C4C4;
}