/* 
-------------------------------------------------------------------
CSS for general styles of the sites content section
-------------------------------------------------------------------
*/
@import url(Colors.css);
@import url(Text.css);

/* 
-------------------------------------------------------------------
section content
-------------------------------------------------------------------
*/
.contentSectionContainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .5fr 9fr;

    position: absolute;
    top: 5%;
    left: 18%;
    right: 0;

    background-color: var(--sectionBg);
    box-shadow: 0 0px 15px black;

    width: 80%;
    height: 80%;

    /* padding-bottom: 10px; */
}

.aboutMeContainer {
    overflow-y: auto;
    display: grid;
    grid-template-columns: 1fr;

    background-color: var(--sectionBg);

    width: auto;
    height: auto;

    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

.aboutMeContainer p img {
    float: right; 
    margin: 20px; 
   
}

.folderContainer {
    overflow-y: hidden;
    display: grid;
    grid-template-columns: .2fr 3fr;

    background-color: var(--sectionBg);

    width: auto;
    height: auto;

    padding-top: 0px;
    padding-left: 0px;
    padding-right: 20px;
}

.contentContainer {
    overflow-y: auto;

    height: auto;

    /* padding-top: 30px; */
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;

}

.contentContainer h2 {
    height: auto;
    background-color: var(--contentSectionDividerBg);

    padding-left: 10px;

    padding-top: 10px;
    padding-bottom: 10px;

    margin-top: 10px;

}

.contentContainer section {
    display: none;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;

}


.contentContainer section div {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;

    background-color: var(--contentSectionBg);

    width: auto;
    height: auto;

    padding: 10px;
}

.contentContainer section div h3 {

    background-color: var(--contentSectionButtonBg);

    padding: 5px;
    margin-bottom: 10px;
}

.contentContainer section div h3:hover {
    background-color: var(--contentSectionButtonHoverBg);
}

.contentContainer section div img {

    width: 100%;
    height: auto;

    padding-bottom: 5px;
}

/* 
-------------------------------------------------------------------
responsive design section
-------------------------------------------------------------------
*/
@media screen and (max-width: 1000px), screen and (max-height: 600px)  {

    .contentSectionContainer {
    
        position: absolute;
        top: 0%;
        left: 0%;
    
        width: 100%;
        height: 65%;

    }    
}

@media screen and (max-width: 700px)  {

    .contentSectionContainer {
    
        position: absolute;
        top: 0%;
        left: 0%;
    
        width: 100%;
        height: 75%;
    
        /* padding-bottom: 10px; */
    }

}