/* 
-----------------------------------------------------------
defines the styles for the site's sidebar nav
-----------------------------------------------------------
*/

/* 
-----------------------------------------------------------
importing things
-----------------------------------------------------------
*/
@import url(Variables.css);

/* 
defines the overall style for the side bar
*/
.sideNavBar {
    overflow-x: hidden;
    z-index: 1;

    /* aligning and setting anchors */
    left: 0;

    /* setting size */
    height: 100%;
    width: 100px;

    /* setting margins and padding */
    padding-top: 50px;
    padding-left: 50px;
}

.NavApps {
    text-align: center;
    
    /* setting margins and padding */
    margin-top: 20px;
}

.NavApps p {
    /* setting text */
    text-align: center;
    font-size: 20px;
    text-shadow: -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
    ;
    color: var(--textColor1);

    /* setting margins and padding */
    margin-top: 0;
    margin-bottom: 10px;
}

.NavApps button {
    background-color: transparent;
}