/* 
-----------------------------------------------------------
the main stye sheet for the portfolio site
- takes in all other .css files
-----------------------------------------------------------
*/

/* 
-----------------------------------------------------------
importing things
-----------------------------------------------------------
*/
@import url(Variables.css);
@import url(SideBarStyle.css);

/* main stye stuff */
body {
    overflow: hidden;
}

/* layering styles */
.foreground{
    position: absolute;
    z-index: 0;
}

.background{
    position: absolute;
    z-index: -1;
}

.screenSize{
    /* top: 0; */
    /* bottom: 0; */
    margin-top: var(--ComputerTopMargin);
    margin-bottom: var(--ComputerBotMargin);
    margin-left: var(--ComputerLeftMargin);
    margin-right: var(--ComputerRightMargin);
    
    padding-top: var(--ComputerTopPadding);
    padding-bottom: var(--ComputerBotPadding);
    padding-left: var(--ComputerLeftPadding);
    padding-right: var(--ComputerRightPadding);

    width: 75vw;
    height: 75vh;
}

/* computer's frame/border around site */
.computerFrame {
    margin: auto;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    background-position: center;
    background-size: cover;
} 
/* computer's screen's background */

.computerScreen {
    display: flex;

    height: 100vh;

    justify-content: center;
    align-items: center;
    text-align: center; 

}