/* 
-----------------------------------------------------------
File defines the style of the portfolio's navigation bars
-----------------------------------------------------------
*/
@import url(Variables.css);

.portfolioNavContainer {
    /* setting display */
    overflow-y: auto;
    display: none;
    grid-template-columns: 3fr .5fr;

    position: absolute;

    /* setting background*/
    background-color: var(--headerBg);

    /* setting size */
    width: auto;
    height: 90%;

}

.portfolioNavToggle {
    height:  auto;

    /* setting background*/
    background-color: var(--navTabToggleBg);
}

.portfolioNavToggle:hover {
    /* setting background*/
    background-color: var(--navTabToggleHover);
}

.portfolioNav {
    /* setting display*/
    display: grid;
    z-index: 5px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;

    row-gap: 0px;

    /* setting size */
    height: 100%;

    /* setting borders, margins and padding */
    padding-left: 20px;
    padding-right: 20px;
}

.portfolioNav div {
    /* setting display */
    align-items: center;

    width: 100%;
    height: 100px;

    /* setting color */
    background-color: var(--navTabBG);
    padding-top: 30px;
}

.portfolioNav div:hover {
    /* setting color */
    background-color: var(--navTabHoverBg);
}

/*
portfolio top bar stuff
*/
.workTabContainer {
    /* setting display */
    overflow-y: hidden;

    /* setting background */
    background-color: var(--topBarBg2);

    /* setting margins, padding and borders */
    margin: 0px;
    margin-top: 10px;
}

/* for displaying content */
.workTabContainer section {
    /* setting display */
    z-index: 1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;

    /* setting size */
    height: 100%;

}

.workTabContainer section div {
    /* setting display */
    display: none;
    grid-template-columns: 2fr .5fr;

    /* setting background */
    background-color: var(--topBarTab);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    /* setting font */
    color: var(--textColor1);
    
    /* setting size */
    width: 300px;

    /* setting margins and padding */
    margin: 5px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 5px;

}

.workTabContainer section div:hover {
    /* setting background */
    background-color: var(--topBarTabHover);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.workTabContainer section div h2 {
    /* setting margins */
    margin-left: 20px;
    margin-top: 10px;

}

/* 
-----------------------------------------------------------
responsive design stuff
-----------------------------------------------------------
*/
@media screen and (max-width: 1300px) {

    .portfolioNav {

        padding-left: 5px;
        padding-right: 5px;
        padding-top: 20px;

    }

    .portfolioNav div {
        /* setting display */
        align-items: center;

        width: 90%;
        height: 100px;

        /* setting color */
        background-color: var(--navTabBG);
    }

    /* top bar nav */
    .workTabContainer section div {

        /* setting size */
        width: auto;
    }

    .workTabContainer section div h2 {
        /* setting margins */
        padding-right: 20px;
        margin-left: 10px;
    }
}