/* 
-----------------------------------------------------------
file defines the styles for the my portfolio page
-----------------------------------------------------------
*/

#Portfolio {
    /* setting display*/
    overflow-y: hidden;
    display: none;

    position: absolute;
    grid-template-rows: 1fr 8fr;

    /* setting background */
    background-color: var(--mainBg);
    box-shadow: 0 0px 15px black;

    /* setting size */
    width: 70vw;
    height: 75vh;

    /* setting borders, margins and padding */
    margin-right: 30px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.portfolioContainer {
    /* setting display */
    overflow: hidden;

    display: grid;
    grid-template-columns: 1fr 3.5fr;

    /* setting size */
    height: 100%;
}

/* 
-----------------------------------------------------------
portfolio section nav
-----------------------------------------------------------
*/
.portfolioNav {
    /* setting display*/
    overflow-y: auto;
    display: grid;
    grid-template-columns: 1fr;

    /* setting background*/
    background-color: var(--headerBg);

    /* height: 700px; */

    /* setting borders, margins and padding */
    padding-left: 20px;
    padding-right: 20px;

    padding-top: 20px;
    /* padding-bottom: 20px; */

}

.portfolioNav div {
    /* setting display */
    align-items: center;

    /* height: 100px; */

    /* setting color */
    background-color: var(--navTabBG);
}

.portfolioNav div:hover {

    /* setting color */
    background-color: var(--navTabHoverBg);
}

.portfolioNav div:active {

    /* setting color */
    background-color: var(--navTabActiveBG);
}

.portfolioNav h2 {
    /* font info */
    color: var(--textColor1);

    /* setting margins */
    margin: 20px;

}


.workTabContainer {
    /* setting display */
    overflow-y: hidden;

    /* setting background */
    background-color: var(--topBarBg2);

    /* setting margins, padding and borders */
    margin: 0px;
    margin-top: 10px;
}

/* for displaying content */
.workTabContainer section {
    /* setting display */
    z-index: 1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    height: 100%;

}

.workTabContainer section div {
    /* setting display */
    display: none;

    /* setting background */
    background-color: var(--topBarTab);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    /* setting font */
    font-size: 10px;
    color: var(--textColor1);

    /* setting size */
    width: 200px;

    /* setting margins and padding */
    margin: 5px;
    margin-top: 10px;
    margin-bottom: 0px;
}

.workTabContainer section div h2 {
    /* setting font */
    font-size: 20px;

    /* setting margins */
    padding-right: 20px;
    margin-left: 20px;
}

/*
-----------------------------------------------------------
 portfolio sections 
-----------------------------------------------------------
*/
.workContainer {
    /* setting display info */
    overflow-y: auto;

    /* setting padding and margins */
    margin: 20px;

}

.workContainer section {
    /* setting display info */
    display: none;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;

    /* setting margins,padding and border */
    margin-bottom: 20px;
}

.workContainer section div {
    /* setting display info */
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;

    /* setting background */
    background-color: var(--workBg);

    /* setting size */
}

.workContainer section a {
    /* setting font stuff */
    color: var(--textColor1);
    font-size: 40px;

    /* setting margins,padding and borders */
    margin: 10px;
}

.workContainer section a:hover {
    /* setting font stuff */
    color: var(--textColor3);
    font-size: 40px;
}

.workContainer section div img {
    /* setting size */
    width: auto;
    height: 200px;
}

/* 
-----------------------------------------------------------
 responsive design sections 
-----------------------------------------------------------
*/

@media screen and (max-width: 1000px) {}