/* 
-----------------------------------------------------------
defines the styles for the site's sidebar nav
-----------------------------------------------------------
*/

/* 
-----------------------------------------------------------
importing things
-----------------------------------------------------------
*/
@import url(Variables.css);

/* 
defines the overall style for the side bar
*/
.sideNavBar{
   /* left: 0 ; */
    height: 100%;
    width: 100px;
    position: relative;

    padding-top: 60px;
    overflow-x: hidden;
}

.sideBar a{
    padding: 20px 30px;
    text-decoration: none;
    font-size: 18px;
    color: var(--textColor1);
    display: block;
    transition: 0.3s;
}