/* 
----------------------------------------------------------------    
main style sheet for my portfolio 
----------------------------------------------------------------    
*/

/* 
----------------------------------------------------------------    
importing variables and other stuff 
----------------------------------------------------------------    
*/
@import url('Variables.css');

/* overall look of page */
body {
    background: var(--SectionBG);

}

/* 
----------------------------------------------------------------    
Headers style stuff 
----------------------------------------------------------------    
*/
h1 {
    color: var(--textColor2);
    padding: 20px 50px;
}

/* 
----------------------------------------------------------------    
Side bar style stuff 
----------------------------------------------------------------    
*/
.sideBar {
    height: 100%;
    width: 300px;
    position: fixed;
    left: 0;
    top: 0;
    background-color: var(--SideBarBG);
    padding-top: 20px;
    overflow-x: hidden;
}

/* 
----------------------------------------------------------------    
side bar navigation tabs
----------------------------------------------------------------  
 */

/* primary */
.PrimaryTabs a {
    padding: 10px 30px;
    text-decoration: none;
    font-size: 18px;
    color: var(--textColor1);
    display: block;
    transition: 0.3s;
}

.PrimaryTabs a:hover {
    background-color: var(--SideBarHover);
    color: var(--textColor1);
}

.PrimaryTabs span {
    padding: 10px 30px;
    text-decoration: none;
    font-size: 18px;
    color: var(--textColor1);
    display: block;
    transition: 0.3s;
}

.PrimaryTabs span:hover {
    background-color: var(--SideBarHover);
    color: var(--textColor1);
}

.PrimaryTabs.active {
    background-color: var(--SideBarActive);
    color: var(--textColor1);
}


.SubTabs {
    display: none;
}
/* sub tabs */
.SubTabs a {
    padding: 10px 50px;
    text-decoration: none;
    font-size: 15;
    color: var(--textColor1);
    display: block;
    transition: 0.3s;
}

.SubTabs a:hover {
    background-color: var(--SideBarHover);
    color: var(--textColor1);
}

.SubTabs.active {
    background-color: var(--SideBarActive);
    color: var(--textColor1);
}