/* 
-----------------------------------------------------------
defines variables, that effect the sites margins,
 padding ect.
-----------------------------------------------------------
*/
:root {

    /* site background */
    --mainBg: #374962;
    --shadowColor: #1c1c1c;

    --headerBg: #1c1c1c;

    --topBarBg: #1c1c1c;
    --topBarBg2: #2e2e2e;
    --topBarTab: #464646;
    --topBarBorderBg: #464646;

    --bottomBarBG: #374962;
    --bottomBarShadowBG: #7a7a7a;

    /* work section colors */
    --navTabBG: #1c1c1c;
    --navTabHoverBg: #333333;
    --navTabActiveBG: #2B394d;

    --workBg: #355b91;

    /* about me section */
    --skillsBG: #2e2e2e;

    /* text colors */
    --textColor1: #F2F0F0;
    --textColor2: #C4C4C4;
    --textColor3: #4F87D5;

}