/* 
-----------------------------------------------------------
defines variables, that effect the sites margins,
 padding ect.
-----------------------------------------------------------
*/
/* 
-----------------------------------------------------------
importing things
-----------------------------------------------------------
*/
@import url(Colors.css);

:root{
    --ComputerTopMargin: 80px;
    --ComputerBotMargin: 110px;
    --ComputerLeftMargin: 180px;
    --ComputerRightMargin: 190px;

    --ComputerTopPadding: 10px;
    --ComputerBotPadding: 100px;
    --ComputerLeftPadding: 60px;
    --ComputerRightPadding: 60px;

}