/*
-----------------------------------------------------------
defines the style used to determine the look of work being
shown off in my portfolio
-----------------------------------------------------------
*/

@import url(Variables.css);



/* styling work display section navigation */
.sectionSideNav {
    overflow-x: hidden;
    z-index: 1;

    /* aligning and setting anchors */
    float: left;

    /* setting size */
    height: 100%;
    width: 200px;

    /* setting background */
    background-color: var(--headerBg);

    /* setting margins and padding */
    padding-top: 20px;
    padding-left: 20px;
    margin-right: 20px;

}

.sectionSideNav div {
    /* setting size */
    width: 100%;

    /* setting background */
    background-color: var(--navTabBG);


    /* setting margins and padding */
    padding-top: 20px;
}

.sectionSideNav div:hover {
    /* setting size */
    width: 100%;

    /* setting background */
    background-color: var(--navTabHover);

    /* setting buttons text */
    font-size: 20px;
    color: var(--textColor1);

    /* setting margins and padding */
    padding-top: 20px;
}

.sectionSideNav div p {
    text-align: right;
    /* setting buttons text */
    font-size: 20px;
    color: var(--textColor2);

    /* setting margins and padding */
    margin: 0;
    padding-bottom: 10px;
    padding-right: 10px;

}

.sectionSideNav div h1 {
    /* setting buttons text */
    font-size: 25px;
    color: var(--textColor1);

    /* setting margins and padding */
    /* padding-top: 5px; */
    margin: 0;
}

.sectionSideNav div img {
    /* anchoring */
    float: left;
    /* setting buttons text */
    font-size: 20px;
    color: var(--textColor2);

    /* setting margins and padding */
    padding-right: 10px;
}

/* used to determine the look the container that holds the work*/
.PortfolioContentSection {
    overflow-y: auto;

    /* setting size */
    height: 80%;

    /* setting background */

    /* setting margins */
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;

}

.workFolderStyle section {
    /* setting anchor */
    display: none;

    grid-template-columns: repeat(2, 1fr);
    gap: 10px;

    /* setting background */
    background-color: var(--topBarTab);

    /* setting size */
    height: 100%;

    /* setting padding */
    padding: 10px;
}

.workContainer div {
    /* setting margins */
    margin-left: 15px;
}
.workContainer div p {
    /* setting text stuff */
    font-size: 15px;
}

.workFolderStyle div img {
    /* width: 200px; */
    height: 20%;
    
}