.profilePic {
    position: relative;
    float: right;

    width: 10%;
    height: auto;
}

.sectionText {
    float: left;
    padding: 2px;
}

.skillsContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    width: 100%;
    height: auto;

    background-color: var(--sectionContentBg02);

    box-sizing: border-box;
    box-shadow: 1px 5px 5px var(--sectionShadow);
    padding: 5px;
}

.skillsSection{
    text-align: center,
}

.skillsHeader{
    padding-left: 20px;
}

.skillsSubHeader{
    padding: 2px;
}

.skillsBody{
    padding: 2px;
}