@import url(../color.css);

.sectionContainer {
    position: absolute;
    overflow: hidden;
    z-index: 3;

    background-color: var(--sectionMainBg);

    width: 90%;
    height: 90%;
    box-sizing: border-box;
    border: 2px solid var(--sectionOuterBorder);
    padding: 2px;


}

.sectionHeader {
    position: relative;
    z-index: 4;

    background-color: var(--sectionHeaderBg01);

    width: 100%;
    height: 40px;

    box-sizing: border-box;
    margin-bottom: 5px;
    padding: 2px;
}

.sectionHeaderText {
    position: relative;
    float: left;
    z-index: 4;

    width: 100%;
    height: 40px;

    box-sizing: border-box;
    padding: 10px;
}

.sectionHeaderButton {
    position: relative;
    float: right;

    background-color: var(--sectionHeaderButtonBg);

    cursor: pointer;

    height: 100%;

    box-sizing: border-box;
    padding: 10px;
}

.sectionHeaderButton:hover {
    background-color: var(--sectionHeaderButtonHoverBg);

}

.sectionSubHeader {
    position: relative;
    z-index: 4;

    background-color: var(--sectionSubHeader);

    width: 100%;
    height: 30px;

    box-sizing: border-box;
    padding: 2px;
}

.sectionContentContainer {
    position: relative;
    overflow-y: auto;

    background-color: var(--sectionContentBg01);

    width: 100%;

    scrollbar-width: thin;
    scrollbar-color: var(--scrollBarThumb) var(--scrollBarTrack);

    box-sizing: border-box;
    border: 2px solid var(--sectionInnerBorder);
}

.sectionContentScrollContainer {
    position: relative;
    z-index: 4;

    width: auto;
    height: auto;

    box-sizing: border-box;
    padding: 10px;
}

iframe {
    display: inline-block;
    overflow-x: hidden;

    width: 100%;
    height: 100%;

    box-sizing: border-box;
    border: none;
    margin-left: auto;
    margin-right: auto;
}