.workNavContainer{

}

.navTab{

}

.navTab:hover{

}

.navTabImgContainer{
    display: flex;
}

.workNavTab h1{
    padding: 5px;
}

.workNavTab p{
    padding: 4px;
}

.navText {
    font-family: "Silkscreen", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.75rem;

    color: var(--navText);
}

.navText:hover {
    color: var(--navHoverText);
}


