/* ============================== */
/*     desktop  Colors        */
/* ============================== */
:root {
    --color-desktop: transparent;

    --color-shortcut-button: transparent;
    --color-shortcut-button-highlight: #bdbaba81;

    --color-taskbar: #343538c0;
    --color-taskbar-accent: #f0f0f0;
    --color-taskbar-shadow: #393d41;

    --color-taskbar-button: transparent;
    --color-taskbar-button-highlight: #bdbaba;
    --color-taskbar-button-active: #f0f0f0;
    --color-taskbar-button-accent: #cccecf;
    --color-taskbar-button-shadow: #212529;
}

/* ============================== */
/*     Application  Colors        */
/* ============================== */
:root {
    --color-window: #3b3e3f;
    --color-window-accent: #6b7072;
    --color-window-shadow: #212529;

    --color-header: #33475e;
    --color-header-accent: #606364;
    --color-header-shadow: #212529;

    --color-button-head: transparent;
    --color-button-head-highlight: #9796967e;
    --color-button-head-accent: #b9b6b6;
    --color-button-head-shadow: #212529;

    --color-content-main: #415a77;
    --color-content-main-accent: #6a7077;
    --color-content-main-shadow: #212529;

    --color-content-secondary: #2d3e52;
    --color-content-secondary-highlight: #445e7c;

    --color-content-secondary-accent: #717e8d;
    --color-content-secondary-shadow: #212529;

    --color-button-content: transparent;
    --color-button-content-highlight: #f0f0f0;
    --color-button-content-accent: #f0f0f0;
    --color-button-content-shadow: #212529;

    --color-scrollbar-thumb-bg: #6c757d;
    --color-scrollbar-track-bg: #34383d;

}

/* ============================== */
/*          Text  Colors          */
/* ============================== */
:root {
    --color-header-text: #e9e6e6;
    --color-header-text-highlight: #f0f0f0;
    --color-header-text-shadow: #212529;

    --color-subheader-text: #f0f0f0;
    --color-subheader-text-highlight: #f0f0f0;
    --color-subheader-text-shadow: #212529;

    --color-clock-text: #e9e6e6;
    --color-clock-text-highlight: #f0f0f0;
    --color-clock-text-shadow: #212529;

    --color-body-text: #d4d4d4;
    --color-body-text-highlight: #f0f0f0;
    --color-body-text-shadow: #212529;

    --color-shortcut-text: #c7c3c3;
    --color-shortcut-text-highlight: #f0f0f0;
    --color-shortcut-text-shadow: #000000;

    --color-link: #b8b4b4;
    --color-link-highlight: #f0f0f0;
    --color-link-shadow: #212529;
}