/* Taskbar Styles */
@import url(../Fonts.css);
@import url(../Colors.css);
@import url(./Desktop.css);

:root {
    --clock-width: 30%;
}
/* Main Taskbar */
.taskbar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: var(--taskbar-height);
    background-color: var(--taskbar-primary-bg);
 
    padding: 10px;
    box-shadow: 0 -4px 5px var(--taskbar-shadow);
}

/* Taskbar Shortcuts Container */
.taskbar-shortcuts-container {
    display: flex;
    height: 100%;
    width: calc(90% - var(--clock-width) - 50px);
    float: left;

    padding: 5px;
    font-family: var(--shortcut-font);
    color: var(--text-nav);
    text-shadow: 1px 1px 1px var(--text-shadow);
    font-size: 1.2em;
    text-align: center;
    gap: 5px;
}


/* Taskbar buttons */
.taskbar-shortcut {
    background-color: var(--taskbar-shortcut-bg);
    border-top: 2px solid var(--taskbar-reflection);
    border-left: 2px solid var(--taskbar-reflection);
    border-bottom: 2px solid var(--taskbar-shadow);
    border-right: 2px solid var(--taskbar-shadow);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.taskbar-shortcut:hover {
    background-color: var(--taskbar-shortcut-bg-hover);
}

.taskbar-shortcut img {
    width: 40%;
}

/* Active Taskbar Shortcut */
.taskbar-shortcut-active {
    background-color: var(--taskbar-shortcut-active-bg);
    border-top: 2px solid var(--taskbar-shadow);
    border-left: 2px solid var(--taskbar-shadow);
    border-bottom: 2px solid var(--taskbar-reflection);
    border-right: 2px solid var(--taskbar-reflection);
    padding: 5px;
}


/* Start Button */
.taskbar-start {
    max-width: 15%;

    margin-right: 20px ;
}

.taskbar-shortcuts-start:hover {
    background-color: var(--taskbar-start-bg-hover);
}

.taskbar-shortcuts-start img {
    width: 25%;
    margin-right: 10px;
    box-sizing: border-box;
}

/* Clock */
.clock {
    width: var(--clock-width);
    display: inline;
    position: relative;
    float: right;
    text-align: right;
    margin-right: 20px;
}

.clock .time {
    font-family: var(--shortcut-font);
    font-size: 1.25em;
    color: var(--text-header-secondary);
    line-height: 1.2;
}

.clock .date {
    font-family: var(--shortcut-font);
    font-size: 1.25em;
    color: var(--text-header-secondary);
    line-height: 1;
}