/* Global Styles */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #242424;
}

#root {
  width: 100%;
  height: 100%;
}