@import url('../../../style/color.css');
@import url('../../../style/font.css');

.pixelated-image {
  image-rendering: pixelated;
}
.clickable-image {
  cursor: pointer;
}

.image-hover-body {
  position: absolute;
  z-index: 100;
  background-color: var(--color-project-gallery-item-bg);
  text-align: center;
  width: 100%;
  margin: 1px;
}

.image-hover-body p {
  color: var(--color-body-text);
  font-family: var(--font-body);
  font-size: 1.2rem;
}

.gallery {
  background: var(--color-content-secondary);
  padding: 1px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.landscape-image,
.portrait-image,
.square-image {
  margin: 1px;
  background-color: var(--color-project-gallery-item-bg);
  background-size: cover;
  position: relative;
}

.landscape-image img,
.portrait-image img,
.square-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.landscape-image {
  flex-grow: 2;
  flex-basis: 400px;
  max-height: 320px;
  max-width: 640px;
}

.portrait-image {
  flex-grow: 3;
  flex-basis: 600px;
  max-height: 320px;
  max-width: 960px;
}

.square-image {
  flex-grow: 1;
  flex-basis: 200px;
  max-height: 320px;
  max-width: 320px;
}
