@import url(color.css);

.navContainer {
    position: absolute;

    display: flex;

    position: absolute;
    left: 0;
    flex-wrap: wrap;

    width: auto;
    height: calc(100% - 40px);

    box-sizing: border-box;
    padding: 0;
    padding-top: 20px;
}

.navColumn {
    flex: 20%;
    padding: 0 20px;
}

.shortcut {
    position: relative;
    z-index: 1;

    cursor: pointer;
    vertical-align: middle;
    text-align: center;
    align-items: center;

    box-sizing: border-box;
    margin-bottom: 20px;
}

.shortcut img {
    /* width: auto; */
    /* height: 60%; */
    align-self: center;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
}

.shortcut p {
    font-family: "Chakra Petch", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;

    color: var(--linkText);
    text-shadow: 1px 1px 1px black;
    padding: 0px;
    margin: 0px;
}

.shortcut p:hover {
    color: var(--linkHoverText);
}